body{
    background-size: cover;
    /* background-image: url("../../assets/images/images.jpg"); */
   
}
*{
    box-sizing: border-box;
}

.container-1{
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    margin: 40px 15px;
    width: 80%; 
    min-height: 80vh;
    /* border: 2px solid black; */
    border-radius: 50px;
    background-color:white;
    color: #14213d;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
header h1 {
    padding: 30px;
    font-size: 50px;
}
.line{
    width: 50%;
    color: white;
}
input[type = "text"],input[type = "number"]{
    margin-top: 30px;
    width: 30%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
input[type = "password"]{
    margin-top: 20px !important;
}
input[type = "text"],input[type = "number"]:focus{
    outline: none;
}


.login-button{
    margin-top: 25px;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-left: 50px;
    background-color: black;
    color: white;
}
.login-button:hover{
    background-color:#50C878;
    color: white;
}
